/*
-----  01 TYPHOGAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weigths:
Default: 400
Medium: 500
Semi-bold:600
Bold:700

- Line heights:
Default: 1
Small: 1.05
Paragraph default : 1.6

- SPACING SYST (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-----  02 COLORS

- Pimary : #e67e22
- Tints: #fdf2e9
- Shades:#cf711f
- Accents:
- Greys:
#555
#333

--- 05 SHADOWS

--- 06 BORDER- RADIUS

Default : 9px

--- 07 WHITESPACE

*/

* {
  /* 1 */
  padding: 0;
  /* 1 */
  margin: 0;
  /* 1 */
  box-sizing: border-box;
}

html {
  /* 1 */
  font-size: 62.5%;
}

body {
  /* 1 */ /* 4 */
  font-family: "Rubik", sans-serif;
  /* 1 */
  line-height: 1;
  /* 1 */
  font-weight: 400;
  /* 1 */
  color: #555;
}

/************************/
/* GENERAL REUSABLE COMPONENTS */
/************************/
.heading-primary {
  /* 3 */
  font-size: 5.2rem;
  /* 3 */
  font-weight: 700;
  /* 3 */
  line-height: 1.05;
  /* 3 */
  color: #333;
  /* 3 */
  letter-spacing: -0.5px;
  /* 3 */
  margin-bottom: 3.2rem;
}
.btn:link,
.btn:visited {
  /* 3 */
  display: inline-block;
  /* 3 */
  font-size: 2rem;
  /* 3 */
  padding: 1.6rem 3.2rem;
  /* 3 */
  border-radius: 150px;
  /* 3 */
  text-decoration: none;

  /* Put transition on original "state" */
  /* 3 */
  transition: background-color 0.3s;
  /* 4 */
  font-weight: 600;
}

.btn--full:link,
.btn--full:visited {
  /* 3 */
  background-color: #e67e22;
  /* 3 */
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  /* 3 */
  background-color: #cf711f;
}

.btn--ouline:link,
.btn--ouline:visited {
  /* 3 */
  background-color: #fff;
  /* 3 */
  color: #555;
}

.btn--ouline:hover,
.btn--ouline:active {
  /* 3 */
  background-color: #fdf2e9;

  /* Trick to add border inside */
  /* 3 */
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-rigjt-sm {
  /* 3 */
  margin-right: 1.6rem;
}
/************************/
/* HEADER */
/************************/
.header {
  /* 5 */
  display: flex;
  /* 5 */
  justify-content: space-between;
  /* 5 */
  align-items: center;
  /* 5 */
  background-color: #fdf2e9;
  /* Because we want header to be sticky */
  /* 5 */
  height: 9.6rem;
  /* 5 */
  padding: 0 4.8rem;
}
.logo {
  /* 5 */
  height: 2.2rem;
}

/************************/
/* NAVIGATION */
/************************/
.main-nav-list {
  /* 6 */
  display: flex;
  /* 6 */
  list-style: none;
  /* 6 */
  gap: 3.2rem;
  /* 6 */
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  /* 6 */
  display: inline-block;
  /* 6 */
  text-decoration: none;
  /* 6 */
  color: #333;
  /* 6 */
  font-weight: 500;
  /* 6 */
  font-size: 1.8rem;
  /* 6 */
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  /* 6 */
  color: #e67e22;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  /* 6 */
  padding: 1.2rem 2.4rem;
  /* 6 */
  border-radius: 9px;
  /* 6 */
  color: #fff;
  /* 6 */
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  /* 6 */
  background-color: #cf711f;
}
/************************/
/* HERO SECTION */
/************************/

.section-hero {
  /* 3 */
  background-color: #fdf2e9;
  /* 3 */
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  /* 2 */
  display: grid;
  /* 2 */
  grid-template-columns: 1fr 1fr;
  /* 2 */
  max-width: 130rem;
  /* 2 */
  gap: 9.6rem;
  /* 3 */
  margin: 0 auto;
  /* 3 */
  align-items: center;
  /* 5 */
  padding: 0 3.2rem;
}

.hero-text-box {
  /* 2 */
  grid-column: 1/2;
}

.hero-img-box {
  /* 2 */
  grid-column: 2/3;
}
.hero-img {
  /* 2 */
  width: 100%;
}

.hero-description {
  /* 3 */
  font-size: 2rem;
  /* 3 */
  line-height: 1.6;
  /* 3 */
  margin-bottom: 4.8rem;
}

.delivered-meals {
  /* 4 */
  display: flex;
  /* 4 */
  align-items: center;
  /* 4 */
  gap: 1.6rem;
  /* 4 */
  margin-top: 8rem;
}

.delivered-imgs {
  /* 4 */
  display: flex;
}

.delivered-imgs img {
  /* 4 */
  height: 4.8rem;
  /* 4 */
  width: 4.8rem;
  /* 4 */
  border-radius: 50%;
  /* 4 */
  margin-right: -1.6rem;
  /* 4 */
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  /* 4 */
  margin: 0;
}
.delivered-text {
  /* 4 */
  font-size: 1.8rem;
  /* 4 */
  font-weight: 600;
}

.delivered-text span {
  /* 4 */
  color: #cf711f;
  /* 4 */
  font-weight: 700;
}
