/************************/
/* HEADER */
/************************/
.header {
  /* 5 */
  display: flex;
  /* 5 */
  justify-content: space-between;
  /* 5 */
  align-items: center;
  /* 5 */
  background-color: #fdf2e9;
  /* Because we want header to be sticky */
  /* 5 */
  height: 9.6rem;
  /* 5 */
  padding: 0 4.8rem;
}
.logo {
  /* 5 */
  height: 2.2rem;
}

/************************/
/* NAVIGATION */
/************************/
.main-nav-list {
  /* 6 */
  display: flex;
  /* 6 */
  list-style: none;
  /* 6 */
  gap: 3.2rem;
  /* 6 */
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  /* 6 */
  display: inline-block;
  /* 6 */
  text-decoration: none;
  /* 6 */
  color: #333;
  /* 6 */
  font-weight: 500;
  /* 6 */
  font-size: 1.8rem;
  /* 6 */
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  /* 6 */
  color: #e67e22;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  /* 6 */
  padding: 1.2rem 2.4rem;
  /* 6 */
  border-radius: 9px;
  /* 6 */
  color: #fff;
  /* 6 */
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  /* 6 */
  background-color: #cf711f;
}
/************************/
/* HERO SECTION */
/************************/

.section-hero {
  /* 3 */
  background-color: #fdf2e9;
  /* 3 */
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  /* 2 */
  /* display: grid; */
  /* 2 */
  /* grid-template-columns: 1fr 1fr; */
  /* 2 */
  max-width: 130rem;
  /* 2 */
  /* gap: 9.6rem; */
  /* 3 */
  margin: 0 auto;
  /* 3 */
  align-items: center;
  /* 5 */
  padding: 0 3.2rem;
}

.hero-text-box {
  /* 2 */
  grid-column: 1/2;
}

.hero-img-box {
  /* 2 */
  grid-column: 2/3;
}
.hero-img {
  /* 2 */
  width: 100%;
}

.hero-description {
  /* 3 */
  font-size: 2rem;
  /* 3 */
  line-height: 1.6;
  /* 3 */
  margin-bottom: 4.8rem;
}

.delivered-meals {
  /* 4 */
  display: flex;
  /* 4 */
  align-items: center;
  /* 4 */
  gap: 1.6rem;
  /* 4 */
  margin-top: 8rem;
}

.delivered-imgs {
  /* 4 */
  display: flex;
}

.delivered-imgs img {
  /* 4 */
  height: 4.8rem;
  /* 4 */
  width: 4.8rem;
  /* 4 */
  border-radius: 50%;
  /* 4 */
  margin-right: -1.6rem;
  /* 4 */
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  /* 4 */
  margin: 0;
}
.delivered-text {
  /* 4 */
  font-size: 1.8rem;
  /* 4 */
  font-weight: 600;
}

.delivered-text span {
  /* 4 */
  color: #cf711f;
  /* 4 */
  font-weight: 700;
}

/************************/
/* FEATURED IN SECTION */
/************************/

.section-featured {
  /* 11 */
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  /* 11 */
  text-transform: uppercase;
  /* 11 */
  letter-spacing: 0.75px;
  /* 11 */
  font-weight: 500;
  /* 11 */
  text-align: center;
  /* 11 */
  margin-bottom: 2.4rem;
  /* 11 */
  color: #999;
}

.logos {
  /* 11 */
  display: flex;
  /* 11 */
  justify-content: space-around;
}

.logos img {
  /* 11 */
  height: 3.2rem;
  /* 11 */
  filter: brightness(0);
  /* 11 */
  opacity: 50%;
}
/************************/
/* HOW IT WORKS SECTION */
/************************/

.section-how {
  /* 7 */
  padding: 9.6rem 0;
}
.step-number {
  /* 9 */
  font-size: 8.6rem;
  /* 9 */
  font-weight: 600;
  /* 9 */
  color: #ddd;
  /* 9 */
  margin-bottom: 1.2rem;
}
.step-img-box {
  /* 9 */
  display: flex;
  /* 9 */
  justify-content: center;
  /* 9 */
  align-items: center;
  /* 9 */

  /* 10 */
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  /* 10 */
  content: "";
  /* 10 */
  display: block;

  /* 10 */
  border-radius: 50%;

  /* 10 */
  position: absolute;
  /* 10 */
  top: 50%;
  /* 10 */
  left: 50%;
  /* 10 */
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  /* 10 */
  width: 60%;
  /* height: 60%; */

  /* 60% of the parent's width */
  /* 10 */
  padding-bottom: 60%;
  /* 10 */
  background-color: #fdf2e9;
  /* 10 */
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  /* 10 */
  padding-bottom: 45%;
  /* 10 */
  background-color: #fae5d3;
  /* 10 */
  z-index: -2;
}

.step-img {
  /* 8 */
  width: 35%;
}

.step-description {
  /* 9 */
  font-size: 1.8rem;
  /* 9 */
  line-height: 1.8;
}
